body {
    height: 80vh;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

/*cabecalho*/
header {
    display: flex;
    align-items: center;
    background-color: black;
    justify-content: space-between;
    height: 99px;
    width: 100%;
}

.nome a {
    color: white;
    font-size: 24px;
    text-decoration: none;
    margin-left: 10px;
}

ul {
    list-style: none;
    display: flex;
}


#vermelhor {
    background-color: red;
    color: white;
    padding: 10px;
    text-decoration: none;
    border-radius: 10px;
    margin-right: 10px;
}

/*corpo da pagina*/
label {
    font-size: 24px;
    /*color: white;*/
}

/*divisões*/
.container {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 76vh;
    margin-top: 20px;
}

form {
    width: 50%;
    padding: 20px;
    height: 40vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 1px solid rgb(148, 148, 148);
    border-radius: 10px;
}

/*botões*/
input {
    margin-bottom: 20px;
}

#iemal {
    width: 100%;
    border-radius: 10px;
}

#icomentario {
    width: 100%;
    height: 40px;

}

#inome {
    width: 100%;
    border-radius: 10px;
}

#botão {
    padding: 15px;
    background-color: green;
    max-width: 10%;
    border: 0;
    color: white;
    border-radius: 20px;
    font-size: 20px;
}

/*rodape*/
.criadores {
    height: 60px;
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: black;
}