body {
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

/*cabecalho*/
header {
    display: flex;
    align-items: center;
    background-color: black;
    justify-content: space-between;
    height: 99px;
    width: 100%;
}


.nome a {
    color: white;
    font-size: 24px;
    text-decoration: none;
    margin-left: 10px;
}

ul {
    list-style: none;
    display: flex;
}


#azul {
    background-color: red;
    color: white;
    padding: 10px;
    text-decoration: none;
    border-radius: 10px;
    margin-right: 10px;
}

/*corpo da pagina*/
section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

section div {
    min-width: 300px;
    background-color: rgb(255, 255, 255);
    color: red;
}

section div p {
    color: black;
    font-size: x-large;
}

.descrição {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

/*scroll*/
main {
    height: 10vh;
    display: flex;
    gap: 10px;

}

.scrol_personagens {
    height: 100%;
    width: 200px;
    text-align: center;
    border: 5px solid rgba(0, 0, 0, 0.5);
}

main img {
    transition: transform 0.3s ease;
}

main img:hover {
    transform: scale(1.2);
}

/*rodape*/
.criadores {
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
    color: white;
    background-image: url(img/Chao.png);
    background-position: top;
    background-size: contain;
    background-repeat: repeat;
}