body {
    height: 100vh;
    font-family: arial;
    padding: 0;
    margin: 0;
  }
  
  /*cabecalho*/
  header {
    display: flex;
    align-items: center;
    background-color: black;
    justify-content: space-between;
    height: 99px;
    width: 100%;
  }
  
  
  ul {
    list-style: none;
    display: flex;
    gap: 5px;
  
  }
  /*hiperlinks*/
  .nome a {
  

    text-decoration: none;
    margin-left: 10px;
  }
  
  .LINKS{
    margin-right: 10px;
  }
  #azul {
    color: white;
    background-color: blue;
    padding: 10px;
    text-decoration: none;
    border-radius: 10px;
  }
  
  #vermelhor {
    background-color: red;
    color: white;
    padding: 10px;
    text-decoration: none;
    border-radius: 10px;
  }
  
  /*corpo da pagina*/
  section{
    height: 100%;
    display: flex;
    align-items: center;
    
  }
  section p{
    width: 80%;
    font-size: 25px;
    text-align: left;
    margin-left: 10px;
  }


  
  /*rodape*/
  .criadores {
    height: 60px;
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: black;
  }