body {
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

/*cabecalho*/
header {
    display: flex;
    align-items: center;
    background-color: black;
    justify-content: space-between;
    height: 80px;
    width: 100%;
}

.nome a {
    color: white;
    font-size: 24px;
    text-decoration: none;
    margin-left: 10px;
}

ul {
    list-style: none;
    display: flex;
}


#azul {
    background-color: red;
    color: white;
    padding: 10px;
    text-decoration: none;
    border-radius: 10px;
    margin-right: 10px;
}
/*corpo da pagina*/
section{
    min-height: 100vh;
    display: flex;
    justify-content: center;
}
section div{
    min-width: 300px;
    background-color: black;
    color: red;
}
.descrição{
    display: flex;
    align-items: center;
    justify-content: center;
}

/*scroll*/
main{
    height: 10vh;
   width: 100%;
   display: flex;
   gap: 10px;
}
.scrol_personagens{
    height: 100%;
    width: 200px;
    background-color: red;
}
/*rodape*/
.criadores {
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: end;
  color: white;
  background-image: url(Chao\ op\ 3.png);
  background-position: top;
  background-size: contain;
  background-repeat: repeat;

}